/* work  */
.work{
    padding: 80px 0;
}
.work__item {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.work__item h2{
    width: 55%;
    font-weight: 500;
}
.work__item svg{
    width: 40%;
}
