.sec_news .news_box__body{
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 30px 0;

}
.sec_news .news_box__body li{
    display: flex;
    margin-top: 20px !important;
    padding-top: 40px !important;
    height: 100%;
    position: relative;
}
.sec_news .news_box__body li:before{
    content: "";
    width: 100%;
    border-radius: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    background-color: var(--black);
}
.sec_news .news_items__img {
    overflow: hidden;
    width: 300px;
    height: 185px;
    margin-right: 20px !important;
}
.sec_news .news_box__body img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    scale: 1.1;
    transition: all .5s;
}
.sec_news .news_box__body li:hover  img{
    scale: 1;
}
.sec_news .news_box__body .news_items__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec_news .news_box__body .news_items__text a{
    text-decoration: none;
    font-size: clamp(.4rem,3vw,1.8rem);
    margin-bottom: 20px !important;
}
.sec_news .news_box__body li:hover a{
    text-decoration: underline;
}
/*icon*/
.sec_news .news_box__body li .news_box__icons{
    position: absolute;
    display: flex;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.sec_news .news_box__body li .news_box__icons svg{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.sec_news .news_box__body li:hover  svg{
    transform: translateX(40px);
}
@media  (300px <= width <= 1200px) {
    .sec_news .news_box__body li{
        flex-direction: column;
    }
    .sec_news .news_box__body .news_items__text{
        padding: 0;
        padding-top: 20px;
    }
}
