.sec_scroll{
    position: sticky;
    margin-top: 130px;
    color: var(--black) !important;
}
.sec_scroll .scroll {
    position: sticky;
    display: flex;
}
.sec_scroll .scroll_box__text{
    transition: top .3s;
    position: sticky;
    top: 140px;
    height: fit-content;
    left: 0;
    width: 50% !important;
}
.sec_scroll .scroll___title{
    font-weight: bold;
    font-size: 60px;
    color: var(--black) !important;
}