.sec_scroll{
    position: sticky;
    margin-top: 130px;
    color: var(--black) !important;
}
.sec_scroll .scroll {
    position: sticky;
    display: flex;
}
.sec_scroll .scroll_box__text{
    transition: top .3s;
    position: sticky;
    top: 140px;
    height: fit-content;
    left: 0;
    width: 50% !important;
}
.sec_scroll .scroll___title{
    font-weight: bold;
    font-size: clamp(1rem,4vw,20rem) !important;
    color: var(--black) !important;
}
@media  (300px <= width <= 1000px) {
    .sec_scroll{
        position: static !important;
    }
    .sec_scroll .scroll {
        position: static !important;
        flex-direction: column-reverse;
    }
    .sec_scroll .scroll_box__text{
        position: static !important;
    }
}