.haderVideo{
    width: 100%;
    height: 100vh !important;
    object-fit: cover;
}
.box_seekber{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    height: 6px;
}
.seekber_now{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.seekber_now span{
    color: var(--white);
    width: 100px !important;
    position: absolute;
    top: -25px;
    right: -56px;
    font-weight: bolder;
}