body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /*overflow: hidden;*/
  background-color: var(--white);
  transition: background .4s linear;
}
*::selection{
  background-color: var(--black);
  color: var(--white);
}
body a{
  color: var(--black) !important;
}
.nav{
  background-color: var(--white-nav);
}